
<div class="chatBox">
  <ul class="list-unstyled m=chatMessage">
    <li *ngFor="let message of messages" class="chatmessage">
      <span>{{message.time | date: "HH:mm"}}</span> {{message.sender}}: {{message.content}} <br>
    </li>
  </ul>
</div>
<form class="chatForm">
  <input type="text" [(ngModel)]="textBoxText"  name="textBoxText"  class="form-control chatTextBox">
  <input type="submit" value="Send" (click)="send()" class="btn chatButton">
</form>
