.chatBox {
    top: 0;
    height: 92.5%;
    max-width: 100%;
    width:100%
}

.chatForm {
    bottom: 0;
    height: 7.5%;
}

.chatTextBox {
display: inline;
width: 70%;
}

.chatButton {
    display: inline;
    width: 30%;
}

.chatMessage {
    padding-left: 10px;
    word-break: break-all;
}