<div class="body">
  <form class="form-signin" >
    Please enter Email and Password
    <label class="sr-only" for="email">Email</label>
    <input class="form-control" type="email" id="email" name="email" placeholder="Email" [(ngModel)]="email"> <br>
    <label class="sr-only" for="password">Password</label>
    <input class="form-control" type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password"> <br>
    <input class="form-control btn btn-lg btn-primary" type="submit" (click)="onSubmit()" value="Login"> <br>
  </form>
</div>
