.body {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;;
}

.form-signin {
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border: 2px solid black;
}