<div class="project">
  <div class="sidebar">
      <ul class="list-unstyled project-structure"> 
        <div *ngIf="loaded">
          <li *ngFor="let file of project.files">
            <a (click)="loadFile(file.path)" class="file"> {{file.path}}</a>
           
          </li>
        </div>
        <div *ngIf="!loaded">Loading...</div>
        
      </ul>
    </div>
  <div class="texteditcomponent">
    <app-text-edit></app-text-edit>
  </div>
  

 <div class="chatcomponent">
  <app-chat></app-chat>
 </div>

 <div class="bar">
  <form class="form-control form-inline uploadForm">
    <input type="file" class=" form-control"  (change)="selectFile($event)" style="margin-top: 0;padding-top: 0;background: inherit;" name="file"> 
    <input type="text" [(ngModel)]="uploadFileName" class="form-control " name="uploadFileName">
    <input type="submit" class="btn form-control" value="Upload" (click)="uploadFile()">
  </form>
</div>



