.project {
    display: flex;
    height: 100vh;
    width: 100%;
}


.sidebar {
    display: flex;
    height: 95%;
    min-width: 5%;
    max-width: 15%;
    top: 0;
    left: 0;
    resize: horizontal;
    border: 2px solid grey;
    word-wrap: none;
    overflow:hidden;
}

.texteditcomponent {
    width: 65%;
    height: 95%;
    min-width: 40%;
    max-width: 100%;
}

.texteditor {
    display: flex;
    resize: horizontal;
    background-color: inherit;
    color: #fff;
    margin-left: 5px;
    min-width: 40%;
    max-width: 100%;
    width: 70%;
    white-space: pre;
    overflow-x: scroll;
}

.chatcomponent {
    border: 2px solid grey;
    resize: horizontal;
    color: #fff;
    display: flex;
    height: 95%;
    min-width: 5%;
    max-width: 80%;
}

.bar {
    bottom: 0;
    position: absolute;
    /* margin-top: 95%; */
     height: 5%; 
    
}

.uploadForm {
    background: inherit;
    margin-top: 0;
    padding-top: 0;
}

.project-structure {
    /* margin-top: 5%;; */
    margin-left: 10px;
}

.file  {
    cursor: pointer;
}