<ul class="container">
  <li *ngFor="let project of projects" id="project" class="list">
    <a [routerLink]="['/project', project.ownerName, project.name]">{{project.name}} at {{project.projectRoot}}</a>
    
  </li>
</ul>

<br>
<br>

<form class="form">
  <input type="text"  name="newProjectName"  class="form-control" [(ngModel)]="newProjectName">
  <input type="submit"value="Create New Project" class="form-control btn" (click)=newProject()>
</form>
