<form style="border:3px;">
  <label for="username">User Name</label>
  <input type="text" id="username" name="username" [(ngModel)]="username"> <br>
  <label for="email">Email</label>
  <input type="email" id="email" name="email" [(ngModel)]="email"> <br>
  <label for="password">Password</label>
  <input type="password" id="password" name="password" [(ngModel)]="password"> <br>
  <label for="confirmPassword">Confirm Password</label>
  <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword"> <br>
  <input type="submit" value="Submit" (click)="onSubmit()" > <br>
</form>